.listItem {
  display: inline-block;

  border-radius: 0px 0px 9px 9px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.listItem:not(:last-child) {
  margin-right: 15px;
}

.itemTitle {
  padding: 20px;

  font-size: 21px;
  font-weight: 400;
  text-align: center;
}
