.info:not(:last-child) {
  margin-bottom: 10px;
}

.infoTitle {
  font-weight: bold;
}

.editBtn {
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}

.saveBtn {
  display: inline-block;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}
